
iframe {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    filter: hue-rotate(180deg);
}

.canvas {
    color: white;
    height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    background-image: linear-gradient(190deg, rgba(235, 122, 22, 0.75), rgba(249, 86, 178, 0.75));
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-content: center;
    z-index: 1;
}


.workspace {
    margin: auto;
    width: 95vw;
    height: 85vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(12, 0, 36, 0.9);
    border: solid;
    border-color: white;
    border-width: 1.5px;
}

.workspace * {
    z-index: 5;
}

.node-header {
    background-color: rgba(82, 7, 22, 0.582);
}

.node {
    left: 10px;
    position: absolute;
    height: 6em;
    width: 12em;
    background-color: rgba(220, 20, 60, 0.582);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.connection {
    background-color: transparent;
    mix-blend-mode: overlay;
    cursor:pointer;
}

.button {
    padding: 0.5em;
    background-color: grey;
    color: black;
    cursor: pointer;
    z-index: 0;
}