

.custom-shape-divider-bottom-1667697541 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    align-self: flex-end;
}

.custom-shape-divider-bottom-1667697541 svg {
    top: 50;
    position: relative;
    display: block;
    width: calc(100vw + 1.3px);
    height: 120px;
}

.custom-shape-divider-bottom-1667697541 .shape-fill {
    fill: #FFFFFF;
}

.header {
    height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    background-image: linear-gradient(190deg, rgba(235, 122, 22, 0.75), rgba(249, 86, 178, 0.75));
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.title {
    mix-blend-mode: normal;
    color: white;
    align-self: flex-start;
    padding: 150px;
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.55))
}

.title h1 {
    mix-blend-mode: normal;
    font-size: 80px;
    font-family: 'Uni Sans Heavy';
    line-height: 1em;
}

.title p {
    mix-blend-mode: normal;
    font-family: 'Uni Sans Thin';
    font-weight: 900;
    font-size: 25px;
    margin: 0px;
}

iframe {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
}

workspace {
    position: fixed;
    width: 85%;
    height: 85%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    background-color: black;
    opacity: 0.4;
}