.component-Tweet {
    padding: 1.5em;
    width: 40em;
    font-size: 15px;
    background-color: black;
    color: white;
    margin: auto;
}

.component-Tweet .avatar {
    border-radius: 50%;
}

.component-Tweet .poster .avatar {
    width: 3.5em;
    display: inline-block;
    margin-right: 1em;
}

.component-Tweet .poster.info {
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}

.component-Tweet .poster.info .name {
    display: inline-block;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1em;
}

.component-Tweet .poster.info .verified {
    width: 1.2em;
    margin: 0.2em;
    float: right;
    filter: brightness(0) invert(1)
}

.component-Tweet .poster.info .handle {
    display: block;
    line-height: 1em;
    font-size: 1em;
    font-weight: 100;
    color: grey;
}

.component-Tweet .reply {
    display: block;
    color: grey;
    padding-top: 1em;
}

.component-Tweet .reply a {
    color: rgb(29, 155, 240)
}

.component-Tweet .content {
    font-size: 1.5em;
    width: auto;
    line-height: 1.2em;
    padding-top: 0.8em;
}

.component-Tweet .time {
    color: grey;
    margin-top: 1em;
}